@using MyServiceBus.Server
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en"><head><title>@ServiceLocator.AppVersion MyNoSQLServer .net</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/site.css?ver=@ServiceLocator.Rnd" rel="stylesheet" type="text/css" />
    <script src="/lib/jquery.js"></script><script src="/js/app.min.js?ver=@ServiceLocator.Rnd"></script>
</head><body>@RenderBody()</body></html>